
/*  general  */

html,
body {
  width: 100%;
  height: 100%;

}

body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}

.light {
  font-weight: 400;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}


/*  nav bar  */
.navbar-kustom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #000;

  padding: 20px 0;
  letter-spacing: 1px;
  background: 0 0;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-kustom .navbar-brand {
  font-weight: 700;
}

.navbar-kustom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-kustom.top-nav-collapse {
  padding: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  background: #000;
}

.offset-navbar {
  margin-bottom:30px;
}


/*  intro  */
.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/Desk-top.jpg) no-repeat bottom center scroll;
  background-color: #000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}


/*  about  */
.escher-img {
  width: 200px;
  height: 260px;
  background: url(../img/esher-mirror-ball.jpg) no-repeat bottom center scroll;
  color: #fff;
  background-color: #000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.escher-anchor {
  margin-bottom:30px;
}


/*  projects  */
.project-title {
  background: url(../img/iit.jpg) no-repeat center center scroll;
  width: 100%;
  height: 330px;
  line-height: 270px;

  color: #000;
  text-align: center;
  
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.project-title h1 {
  font-size: 60px;
  font-weight: 700;
  vertical-align: middle;
  display: inline-block;
}


/*  contact  */
